@charset "utf-8";
@font-face {
    font-family: 'migmixBold';
    src: url('../fonts/migmix-2p-20200307/migmix-2p-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'migmixRegular';
    src: url('../fonts/migmix-2p-20200307/migmix-2p-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FiraCodeRegular';
    src: url('../fonts/Fira_Code_v6.2/ttf/FiraCode-Regular.ttf') format('truetype');
}
img{
    max-width: 100%; /* スマホで表示時に画像のはみ出しを防止 */
    height:auto;
}
h1{
    color: #000000;
    font-family: 'migmixBold';
    transition: all .3s;
  }
h1:hover {
    font-family: 'migmixBold';
    text-decoration:none;
    font-size: 48px;
}
h2{
    position: relative;
    padding: 0.25em 0.5em;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); /* 黒　かっこいいので */
    font-family: 'migmixBold';
    border-radius: 0.5em;/*角丸*/
}
h2:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 10px solid #000000;
    width: 0;
    height: 0;
  }
h3{
    will-change: font-size,transition;
    padding: 0em 0.5em;/*上下 左右の余白*/
    background: transparent;/*背景透明に*/
    font-size: 18px;
    font-family: 'migmixBold';
    transition: all .9s;
}
h3:hover{
    will-change: font-size;
    font-family: 'migmixBold';
    text-decoration:none;
    font-size: 24px;
}
body{
    font-family: 'migmixRegular',sans-serif;
}
body.centertext{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;  /* 中央寄せ */
    max-width: 512px;   /* max-widthでレスポンシブ対応 */
}
body.article{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;  /* 中央寄せ */
    max-width: 960px;
}
a{
    text-decoration:none;
    transition: all .3s;
}
a:not(.noeffect):hover{    /*リンクがあったら否応なくホバー追加　雑かも*/
    color: #fff;
    font-size:120%;
    background-color: 	#D0E9FF;
}
/* :not で共有ボタン横に記号表示されるの回避 :notが連続してるの気持ち悪い */
a:not(.noeffect):not([href^="https://haibala.com/"]):not(.local):not(.a2a_button_facebook):not(.a2a_button_twitter):not(.a2a_button_mastodon):not(.a2a_dd):before{    /* リンク横に記号追加 */
    margin: 0 3px;
    font-family: FontAwesome;
    vertical-align: middle;
    content: '\f0c1';
}
code{
    display: inline-block;
    font-family: 'FiraCodeRegular','migmixRegular';
    font-size: smaller;
    color: white;
    background-color: #282c37;
    padding: 0.25em 0.5em;
    border-radius: 0.2em;
}
.icon{
    width: 100px;
    height: 100px;
}
.bold{
    font-family: 'migmixBold';
}
.li1{
    color: darkslategray;
}
.li2{
    color: darkslategray;
    font-size: x-small;
    margin: 0 0 0 0.5em;
    padding: 0;
}
.updated-date{
    font-size: small;
    color: black;
}
.footer-copyright{
    font-size: small;
    color: gray;
}
.space{
    padding: 0.1em 2em;
}
.nospace{
    padding: 0em;/*文字周りの余白*/
    display: inline-block;  /* インラインブロックにする */
}
.square{
    padding: 1em;/*文字周りの余白*/
    display: inline-block;  /* インラインブロックにする */
    border: solid 3px;      /* 枠線指定 */
}
.round{
    border-radius: 0.5em;/*角丸*/
}
.shadow4 {
    box-shadow: 8px 8px 0.2px 0 rgb(0, 0, 0);
}
.shadowrotate{
    transition: box-shadow 0.4s ease-out, transform 0.4s ease-out;
    box-shadow: 0 12px 12px 1px #FFFFFF;
  }
.shadowrotate:hover{
    box-shadow: 0 12px 12px 0.5px #D0E9FF;
    transform: rotate(360deg);  /*ぐるぐるさせる*/
    transition: 0.4s;
}
.bigtitle{
    font-size: 36px;
}
.pixivlogo{
    min-width: 24px;
    height:auto;
}
/* 
.pophover{
    transition: box-shadow 0.4s ease-out, transform 0.4s ease-out;
    box-shadow: 0 12px 12px 1px #FFFFFF;
}
.pophover:hover{
    box-shadow: 0 12px 12px 1px #81A2FE;
}
.linkbutton{
    text-decoration:none;
    transition: all .3s;
}
.linkbutton:hover{
    color: #fff;
    font-size:120%;
    background-color: 	#D0E9FF;
}
*/